:root[data-brand="edomex"]{
  --color-primary-500:#871F34;
  --color-primary-600:#74182B;
  --color-neutral-0:#FFFFFF;
  --color-neutral-900:#1A1A1A;
  --color-accent-500:#B48954;
  --color-accent-300:#D3BF9D;
}
:root[data-brand="edomex"][data-theme="dark"]{
  --color-neutral-0:#0A0A0A;
  --color-neutral-900:#F5F5F5;
}
